.container {
  background-color: #fce4ec;
}

.card {
  border: none;
}

.text-primary {
  color: #880e4f !important;
}

.btn-primary {
  background-color: #e91e63;
  border-color: #e91e63;
}

.btn-primary:hover {
  background-color: #c2185b;
  border-color: #c2185b;
}

a.text-primary {
  color: #880e4f !important;
}

a.text-primary:hover {
  color: #c2185b !important;
}
  