/* src/Navbar/navbar.css */
.navbar {
  display: flex;
  align-items: center;    
  justify-content: space-between;
  background-color: #e6c4cf;
  border-radius: 5px;
  height: 80px;
  padding: 0px;
}
  
.navbar-logo {
  height: 100%;
  width: 130px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 35px;
  margin: 0;
  padding: 0;
}
  
.navbar-links li {
  display: inline;
}
  
.navbar-links a {
  text-decoration: none;
  color: #DA1766;
  font-weight: bold;
  font-size: 1.5rem;
  font-family: 'Times New Roman', Times, serif;
}
  
.navbar-links a:hover {
  color: #ff69b4;
}

.hamburger-menu {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #e6c4cf;
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px 0;
    border-radius: 5px;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
    padding-right: 20px;
  }

  .navbar-links li {
    padding: 10px 0;
    text-align: center;
  }

  .navbar-links a {
    font-size: 1.2rem;
  }
}

@media (min-width: 1600px){
  .navbar{
    height: 110px;
  }

  .navbar-logo{
    width: 150px;
  }

  .navbar-links{
    gap: 50px;
  }

  .navbar-links a{
    font-size: 2rem;
  }
}
