.about-page {
    font-family: Arial, sans-serif;
    padding: 20px;
    line-height: 1.6;
    background-color: #fce4ec;
    color: #151515; 
    border-radius: 8px;
    text-align: center;
  }
  
  .about-page h1 {
    color: #DA1766; 
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .about-page p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #7C7474; 
  }
  
  .features-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 30px; 
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  .feature-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF; 
    padding: 20px;
    border-radius: 8px;
    width: 60%; 
    border: 3px solid #FBD4D8; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    position: relative;
    transition: transform 0.3s ease; 
  }
  
  
  .feature-item::before,
  .feature-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #151515; 
  }
  
  .feature-item::before {
    top: 0;
    left: 0;
    border-top-left-radius: 8px; 
  }
  
  .feature-item::after {
    top: 0;
    right: 0;
    border-top-right-radius: 8px; 
  }
  
  .feature-item:nth-child(odd) {
    transform: translateX(20%); 
  }
  
  .feature-item:nth-child(even) {
    transform: translateX(-20%); 
  }
  
  .feature-item:hover {
    transform: scale(1.05); 
    border-color: #151515; 
  }
  
  .feature-icon {
    color: #DA1766; 
    font-size: 2.5rem; 
    margin-right: 15px;
  }
  
  .feature-text {
    font-size: 1.1rem;
    color: #151515; 
  }

  /* Responsive design */
@media (max-width: 768px) {
  .about-page {
    padding: 15px;
  }

  .about-page h1 {
      font-size: 1.8rem;
  }

  .about-page p {
      font-size: 0.95rem;
  }

  .features-list{
    gap: 15px;
  }

  .feature-item {
      flex-direction: column;
      padding: 12px;
      width: calc(100% - 30px);
  }

  .feature-icon {
    font-size: 1.3rem;
    margin: 0 0 10px;
  }

  .feature-text {
    font-size: 0.9rem;
  }

  .feature-item:nth-child(odd),
  .feature-item:nth-child(even) {
    transform: none; 
  }
}

@media (min-width: 2000px) {
  .about-page {
    padding: 40px;
    max-width: 1600px;
    margin: 0, auto;
  }

  .about-page h1 {
    font-size: 3rem;
  }

  .about-page p {
      font-size: 1.5rem;
  }

  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .feature-item {
      padding: 20px;
      max-width: 400px;
  }

  .feature-icon {
    font-size: 2rem;
  }

  .feature-text {
    font-size: 1.1rem;
  }
}
  